<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>@tinytown/pub | A tiny pre-processor for tiny websites</title>
        <link rel='stylesheet' href='styles.css' />
    </head>
    <body class='mx-auto max-w-3xl p-2'>
        <article class='prose prose-zinc'>
            {{{content}}}
        </article>
    </body>
</html>